<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My URL Scraper</title>
</head>
<body>
    <h1>Insira uma URL</h1>
        <br>
        <input name="url" id="getUrl" placeholder="insira uma url aqui" />
        <button onclick="enviar()" placeholder="Enviar">enviar</button>
        <button onclick="listar()" placeholder="Listar banco">listar</button>
        <div class="container"></div>
</body>
<script>
    const enviar = () => {
        console.warn(JSON.stringify({"url": document.getElementById("getUrl").value}))
        fetch("/scraper",
        {
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify({"url": document.getElementById("getUrl").value})
        })
    }
    const listar = () => {
        fetch("/list",
        {
            method: "GET"
            
        }).then(res => {
            res.json().then(data => {
                console.log(data.urls[0])
                let html = ""
                data.urls.map(url => {
                    let listline = `<p>${url}</p><br/>`
                    html += listline
                })
                let container = document.querySelector('.container')
                container.innerHTML = html
            })
        })
    }
</script>
</html>